body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: right;
  cursor: pointer;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #04aa6d;
}

.countries {
  width: 70%;
  margin: auto;
  margin-top: 25px;
}

.country {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: 10px auto;
}
#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
#react-paginate {
  display: flex;
  justify-content: center;
}
#react-paginate li {
  display: inline-block;
  border: 1px solid #000;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#react-paginate li.active {
  background-color: #ccc;
}
